{%- comment -%} add script for mobile view navigation {%- endcomment -%}
<script src="{{- "/misc/mobile-view.js" | relative_url -}}" crossorigin="anonymous"></script>   


{%- comment -%} add Isomer accordion template javascript to FAQ, Certified Companies, Committee and History-Milestone pages {%- endcomment -%}
{%- if page.layout == 'faq' or page.layout == 'certified-companies' or page.layout == 'committee' or page.layout == 'history-milestone'-%}
<script src="https://printjs-4de6.kxcdn.com/print.min.js" crossorigin="anonymous"></script>
<script src="{{- "/assets/js/floating-buttons.js" | relative_url -}}" crossorigin="anonymous"></script>
<script src="{{- "/assets/js/left-nav-interaction.js" | relative_url -}}" crossorigin="anonymous"></script>
<script src="{{- "/assets/js/accordion.js" | relative_url -}}" crossorigin="anonymous"></script>
{%- endif -%}

{%- if page.permalink contains 'services/training' -%}
<script src="{{- "/misc/training.js" | relative_url -}}" crossorigin="anonymous"></script>
{%- endif -%} 
