<script>  
window.onload = function(){    
    //script to toggle navbar dropdown menu in mobile view
    var navbarBurgers = document.getElementsByClassName('navbar-burger');
    if (navbarBurgers.length > 0) {
        
        //this is used to check that the website is in mobile view because the navbar-burger only appears on mobile site
        if (window.getComputedStyle(navbarBurgers[0], null).getPropertyValue('display') == 'block') {
            //hide navbar dropdown menus on first load
            var navbarDropdowns = document.getElementsByClassName('navbar-dropdown');
            for (var i=0; i<navbarDropdowns.length; i++) {
                navbarDropdowns[i].style.display = 'none';
            }
            
            var navbarDropdown;
            var navbarItemLinks;
            var navbarItems = document.getElementsByClassName('navbar-item has-dropdown');
            for (var i=0; i<navbarItems.length; i++) {
                
                
                //toggle navbar dropdown menu              
                navbarItemLinks = navbarItems[i].getElementsByClassName('navbar-link');                
                if (navbarItemLinks.length > 0) {
                    navbarItemLinks[0].addEventListener('click', function (event) {
                        event.preventDefault();
                        var navbarDropdown = this.nextSibling;
                        while (navbarDropdown.className.indexOf('navbar-dropdown') == -1) {
                            navbarDropdown = navbarDropdown.nextSibling;
                        }
                        if (navbarDropdown.style.display == 'none') {
                            navbarDropdown.style.display = 'block';
                            this.className = this.className + ' is-active';
                        } else {
                            navbarDropdown.style.display = 'none';
                            this.className = this.className.replace('is-active','').trim();
                        }
                    });
                }
            }
 
            //add back-to-top button in mobile view
            var mainContent = document.getElementById('main-content');            
            if (mainContent !== null) {
                var backToTopBtn = document.createElement("BUTTON");
                backToTopBtn.setAttribute("id", "back-to-top-mobile");
                var inner = document.createElement("i");
                inner.setAttribute("class", "sgds-icon sgds-icon-arrow-up is-size-4");
                backToTopBtn.appendChild(inner);
                backToTopBtn.onclick = function(){
                    document.body.scrollTop = 0; // For Safari
                    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
                };
                window.onscroll = function() {
                    if (document.body.scrollTop > 2000 || document.documentElement.scrollTop > 2000) {
                        backToTopBtn.style.display = "block";
                    } else {
                        backToTopBtn.style.display = "none";
                    }
                };
                
                //append button to the end of main-content
                mainContent.appendChild(backToTopBtn);
            }
        }
    }
};    
</script>    

{%- if page.layout == 'leftnav-page-content' -%}
<script>
    //edit nav title for leftnav layout pages with 'overview' titles  
    var titleSections = document.getElementsByClassName('bp-section-pagetitle');
    if (titleSections.length > 0) {
        var pageTitles = titleSections[0].getElementsByTagName('h1');
        if (pageTitles.length > 0) {
            var title = pageTitles[0].textContent;
            if (title.search(/overview/i) === 0) {
                var activeSecondLevelNavHeaders = document.getElementsByClassName('is-active second-level-nav-header'); 
                if (activeSecondLevelNavHeaders.length > 0) {
                    pageTitles[0].textContent += " (" + activeSecondLevelNavHeaders[0].textContent + ")";
                }
            }
        }
    }
</script>    
{%- endif -%} 

{%- comment -%} add Isomer accordion template javascript to FAQ and Certified Companies pages {%- endcomment -%}
{%- if page.layout == 'faq' or page.layout == 'certified-companies' or page.layout == 'committee' -%}
<script src="{{- "/assets/js/accordion.js" | relative_url -}}" crossorigin="anonymous"></script>
{%- endif -%}

{%- if page.layout == 'post' -%}
<script>
    //add a 'back-to-top' link for 'post' layout pages
    var printContents = document.getElementsByClassName('print-content');
    if (printContents.length > 0) {
        var linkNode = document.createElement('a');
        linkNode.setAttribute('href','#');
        linkNode.innerHTML = '↑ Back to top';
        var paragraphNode = document.createElement('p');
        paragraphNode.setAttribute('class','back-to-top');
        paragraphNode.appendChild(linkNode);
        printContents[0].appendChild(paragraphNode);
    }
</script>
{%- endif -%} 

{%- if page.permalink contains 'services/training' -%}
<script src="{{- "/misc/training.js" | relative_url -}}" crossorigin="anonymous"></script>
{%- endif -%} 
