<script>
// Dropdowns for mobile
var dropdowns = document.getElementsByClassName('bp-dropdown is-hoverable');
var dropdownmenu = document.getElementById('dropdown-menu');
    
if (dropdowns.length > 0 && dropdownmenu !== null) {
    dropdowns[0].addEventListener('click', function (event) {
        var dropdownmenu = document.getElementById('dropdown-menu');
        if (dropdownmenu !== null) {
            if (dropdownmenu.style.display == "none") {
                dropdownmenu.style.display = "block";
            } else {
                dropdownmenu.style.display = "none";
            }
        }
    });
}    
</script>
