---
layout: leftnav-page-content
---

{%- assign statusData = site.data[page.layout] -%}
{%- for statusType in statusData -%}
  <h3>{{- statusType.title -}}</h3>
  {%- assign len = statusType.withdrawal-type | size -%}  
  {%- if statusType.withdrawal-type -%}
    {%- assign len = len | minus: 1 -%}  
  {%- endif -%}
  {% for i in (0..len) %} 
    {%- if statusType.withdrawal-type -%}
      <h4 style="font-weight:bold;">{{- statusType.withdrawal-type[i].description -}}<h4>
      {%- assign categoryList = statusType.withdrawal-type[i].category-list -%}  
    {%- else -%}
      {%- assign categoryList = statusType.category-list -%} 
    {%- endif -%} 
    {%- for categories in categoryList -%}
      <h4>{{- categories.category | capitalize -}}</h4>
      <table>
        <thead>
          <th>Field</th>
          <th>Company</th>
          <th style="text-align:right;">Date of &nbsp;{{- statusType.status | capitalize -}}</th>
        </thead>
        {%- for fieldList in categories.field-list -%}
        <tbody>
          {%- for company in fieldList.company-list -%}
          <tr>  
            <td>{%- if forloop.first == true -%}{{- fieldList.field | capitalize -}}{%- endif -%}</td>
            <td>{{- company.name -}}</td>
            <td style="text-align:right;">{{- company.date -}}</td>
          </tr>
          {%- endfor -%}
        </tbody>  
        {%- endfor -%}	
       </table>
    {%- endfor -%}	
  {%- endfor -%}     
{%- endfor -%}	
