---
layout: leftnav-page-content
---

{%- assign sections = content | split: '<h' -%}
{%- for section in sections -%}  
    {%- assign firstHeaderLevel = section | slice: 0 -%} 
    {%- assign firstHeaderBackTag = '</h' | append: firstHeaderLevel | append: '>' -%}
    {%- if section contains '<ul' -%}
        {%- assign list = section -%} 
        {%- if section contains firstHeaderBackTag -%}
            {%- assign sections1 = section | split: firstHeaderBackTag -%} 
            {%- for section1 in sections1 -%} 
                {%- if section1 contains '</ul>' -%}
                    {%- assign list = section1 -%}
                {%- else -%}    
                    {%- assign header = '<h' | append: section1 | append: firstHeaderBackTag -%}
                    {{- header -}}
                {%- endif -%}     
            {%- endfor -%} 
        {%- endif -%} 
        <table>
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Company</th>
                </tr>       
            </thead>
            {%- assign listSections = list | split: '<ul>' -%}  
            {%- for listSection in listSections -%} 
                 {%- if listSection contains '<li' -%}
                     {%- if listSection contains '</li>' -%}
                        {%- assign listSectionTemps = listSection | split: '<li>' | compact -%} 
                        {%- assign isFirstRow = true -%}      
                        {%- for listSectionTemp in listSectionTemps -%}
                            {%- if listSectionTemp contains '</li>' -%}
                                {%- if isFirstRow == false -%}
                                    <tr><td>false first row</td>
                                {%- else -%} 
                                    {%- assign isFirstRow = false -%} 
                                {%- endif -%} 
                                <td>contains li back&nbsp;{{- listSectionTemp | strip_html -}}</td></tr>
                                {%- if listSectionTemp contains '</ul>' -%}
                                    </tbody>
                                {%- endif -%} 
                             {%- else -%}
                                <tbody><tr><td>does not contain li back after split&nbsp;{{- listSectionTemp | strip_html -}}</td>
                                {%- assign isFirstRow = true -%}     
                             {%- endif -%} 
                        {%- endfor -%}
                     {%- else -%}
                        <tbody><tr><td>does not contain li back&nbsp;{{- listSection | strip_html -}}</td>
                        {%- assign isFirstRow = true -%}     
                     {%- endif -%} 
                 {%- endif -%} 
            {%- endfor -%} 
        </table>        
    {%- else -%}
        {% if section contains firstHeaderBackTag %}   
            {% assign header = '<h' | append: section %}
            {{- header -}}   
        {% else %}
            {{- section -}}
        {% endif %} 
    {% endif %}    
{%- endfor -%}    
