---
layout: leftnav-page-content
---

{%- assign sections = content | split: '<h' -%}
{%- for section in sections -%}  
    {%- assign firstHeaderLevel = section | slice: 0 -%} 
    {%- assign firstHeaderBackTag = '</h' | append: firstHeaderLevel | append: '>' -%}
    {%- if section contains '<ul' -%}
        {%- assign list = section -%} 
        {%- if section contains firstHeaderBackTag -%}
            {%- assign sections1 = section | split: firstHeaderBackTag -%} 
            {%- for section1 in sections1 -%} 
                {%- if section1 contains '</ul>' -%}
                    {%- assign list = section1 -%}
                {%- else -%}    
                    <p>display</p>
                    {%- assign toDisplay = '<h' | append: section1 | append: firstHeaderBackTag -%}
                    {{- toDisplay -}}
                {%- endif -%}     
            {%- endfor -%} 
        {%- endif -%} 
    {%- else -%}
        {% if section contains firstHeaderBackTag %}   
            {% assign toDisplay = '<h' | append: section %}
            <p>display1</p>
            {{- toDisplay -}}   
        {% else %}
            <p>display2</p>
            {{- section -}}
        {% endif %} 
    {% endif %}    
{%- endfor -%}    
