---
layout: leftnav-page-content
---

{%- assign sections = content | split: '<h' -%}
{%- assign firstHeaderLevel = sections | first | slice: 0 -%} 
{%- assign firstHeaderBackTag = '</h' | append: firstLevelHeader | append: '>' -%} >   
{%- assign firstHeaderFrontTagPartial = '<h' | append: firstLevelHeader -%} > 
{%- assign sections = content | split: firstHeaderBackTag -%}  
{%- for section in sections -%}  
    {%- if section contains firstHeaderFrontTagPartial -%}
        section{{- firstHeaderBackTag -}}
    {%- endif -%}
{%- endfor -%}	  
