---
layout: leftnav-page-content
---

{%- assign sections = content | split: '<hr />' -%}	
{%- for section in sections -%}
<div style="margin-bottom: 3rem;">
	{%- if section contains '</table>' -%}
		{%- assign sectionContents = section | split: '</table>' -%}	
		{%- for sectionContent in sectionContents -%}
			{%- assign sectionContentTemp = sectionContent | replace_first: '</h', 'header-first' -%}
			{%- assign sectionContentTemp1 = sectionContentTemp | split: 'header-first' | last -%}
			{%- assign headerTagLevel = sectionContentTemp1 | slice: 0 -%}	
			{%- assign headerBackTag = '</h' | append: headerTagLevel | append: '>' -%}	
			<p>{{ headerBackTag }}</p>

		{%- endfor -%}
	{%- else -%}
		{{- section -}}
	{%- endif -%}
</div>
{%- endfor -%}	
