---
layout: leftnav-page-content
---

{{- content -}}

{%- assign committees = site.data.[page.committee] -%}
<div class="content">	
	<div>
	{%- for committee in committees -%}
		{%- comment -%} Accordion header {%- endcomment -%}
		<div class="col is-large bp-accordion-header padding has-icons-right field has-addons is-marginless">
			<div class="col is-expanded is-fullwidth is-paddingless">
				<h5 class="has-text-grey-dark is-marginless"><b style="cursor:default;">{{- committee.title -}}</b></h5>
			</div>
			<span class="sgds-icon sgds-icon-plus is-size-4 bp-accordion-button"></span>
		</div>
		{%- comment -%} Accordion body {%- endcomment -%}
		<div id="accordion-body-{{forloop.index0}}" class="col padding bp-accordion-body">
			<div class="bp-container is-full padding--top--lg padding--bottom" style="width: 100%">
				{%- if committee.description -%}
				<h3>{{- committee.description -}}</h3>
				{%- endif -%}
				<p>{{- committee.members[0] | size -}}</p>
				{% assign firstMember1 = committee.members[0] %}
				{%- for row in firstMember1.member -%}	
					{%- for keyValuePairs in row -%}	
						<p>{{- keyValuePairs[0] -}}</p>
					{%- endfor -%}
					<p>{{- row.name -}}</p>
				{%- endfor -%}
				<table>
					{% assign firstMember = committee.members[0] %}
					{% assign tableHeaderColumns = '' | split: '' %}
					<thead>
						{%- for row in firstMember.member -%}	
							<th>{{- row[0] -}}</th>
							{%- assign key = row[0] | split: '' -%}
							{%- assign tableHeaderColumns = tableHeaderColumns | concat: key -%}							
						{%- endfor -%}
						
						{%- for row in firstMember -%}	
							<th>{{- row[0] -}}</th>
							{%- assign key = row[0] | split: '' -%}
							{%- assign tableHeaderColumns = tableHeaderColumns | concat: key -%}							
						{%- endfor -%}
					</thead>
					<tbody>
						{%- for memberList in committee.members -%}
							{% assign memberDetails = memberList.member %}
							{%- for keyName in tableHeaderColumns -%}
								{% assign memberColumn = memberList[keyName] %}
								<td>{{- memberColumn -}}</td>
							{%- endfor -%}
						{%- endfor -%}
					</tbody>
				</table>
			</div>
		</div>	
	{%- endfor -%}		
	</div>
</div>

