---
layout: leftnav-page-content
---

{%- if content contains '<hr />' -%}
	{%- assign sections = content | split: '<hr />' -%}
{%- elsif content contains '<hr/>' -%}
	{%- assign sections = content | split: '<hr/>' -%}
{%- else -%}
	{%- assign sections = content -%}
{%- endif -%}

{%- for section in sections -%}
	{%- assign sectiontemp = section | strip_newlines | strip -%}
	{%- assign sectiontemp1 = sectiontemp | replace_first: '<h', 'sac-ac-start' -%}
	{%- assign sectiontemp2 = sectiontemp1 | split: 'sac-ac-start' | last -%}	
		<p>{{ sectiontemp2 | slice: 0 }}</p>	
{%- endfor -%}

