---
layout: leftnav-page-content
---

{%- assign committees = site.data.[page.committee] -%}
<div class="content">	
	<div>
	{%- for committee in committees -%}
		{%- comment -%} Accordion header {%- endcomment -%}
		<div class="col is-large bp-accordion-header padding has-icons-right field has-addons is-marginless">
			<div class="col is-expanded is-fullwidth is-paddingless">
				<h5 class="has-text-grey-dark is-marginless"><b style="cursor:default;">{{- committee.title -}}</b></h5>
			</div>
			<span class="sgds-icon sgds-icon-plus is-size-4 bp-accordion-button"></span>
		</div>
		{%- comment -%} Accordion body {%- endcomment -%}
		<div id="accordion-body-{{forloop.index0}}" class="col padding bp-accordion-body">
			<div class="bp-container is-full padding--top padding--bottom" style="width: 100%">
				{%- if committee.description -%}
				<h3>{{- committee.description -}}</h3>
				{%- endif -%}	
				{% assign committeeSize = committee.members | size %}
				{%- if committeeSize > 0 -%}
				<table>
					{% assign firstMember = committee.members[0] %}
					<thead>
						{%- for row in firstMember -%}	
							{% assign firstMemberRow = row %}
							{%- for keyValuePairs in firstMemberRow -%}
								<th>{{- keyValuePairs[0] | capitalize -}}</th>	
							{%- endfor -%}						
						{%- endfor -%}
					</thead>
					<tbody>	
						{%- for memberList in committee.members -%}
						<tr>
							{% assign memberDetails = memberList %}
							{%- for details in memberDetails -%}
								{%- for keyValuePairs in firstMemberRow -%}
									{% assign keyName = keyValuePairs[0] %}
									<td>
									{%- if keyName == "email" -%}
									<a href="mailto:{{- details[keyName] -}}">{{- details[keyName] -}}</a>
									{%- else -%}
									{{- details[keyName] -}}
									{%- endif -%}
									</td>
								{%- endfor -%}
							{%- endfor -%}
						</tr>
						{%- endfor -%}
					</tbody>
				</table>
				{%- endif -%}
			</div>
		</div>	
	{%- endfor -%}		
	</div>
</div>

