---
layout: leftnav-page-content
---

{{- content -}}

{%- assign committee-board = site.data.[page.committee] -%}
<div class="content">	
	<div>
	{%- for committee in committee-board -%}
		{%- comment -%} Accordion header {%- endcomment -%}
		<div class="col is-large bp-accordion-header padding has-icons-right field has-addons is-marginless">
			<div class="col is-expanded is-fullwidth is-paddingless">
				<h5 class="has-text-grey-dark is-marginless"><b style="cursor:default;">{{- committee.title -}}</b></h5>
			</div>
			<span class="sgds-icon sgds-icon-plus is-size-4 bp-accordion-button"></span>
		</div>
		{%- comment -%} Accordion body {%- endcomment -%}
		<div id="accordion-body-{{forloop.index0}}" class="col padding bp-accordion-body">
			<div class="bp-container is-full padding--top--lg padding--bottom" style="width: 100%">
				{%- if committee.description -%}
				<h3>{{- committee.description -}}</h3>
				{%- endif -%}
				<table>
					<thead>
						<tr>
							{%- for headerRow in committee.headers -%}
							<th>{{- headerRow.column -}}</th>
							{%- endfor -%}
						</tr>
					</thead>
					<tbody>
						{%- for member in committee.rows -%}
						<tr>
							{%- for memberRow in member.row -%}
							<td>{{- memberRow.column | markdownify -}}</td>
							{%- endfor -%}
						</tr>	
						{%- endfor -%}	
					</tbody>
				</table>	
			</div>
		</div>	
	{%- endfor -%}		
	</div>
</div>

