---
layout: leftnav-page-content
---

{%- assign sections = content | split: '<h3' -%}
	
{%- for section in sections -%}
	{%- assign sectionContent = section | split: '</h3>' -%}
	<h3{{- sectionContent | first -}}</h3>
	{%- assign sectionContent = sectionContent | last -%}
	{%- assign faqList = sectionContent | split: '<hr />' -%}
	{%- for faq in faqList -%}
		{%- assign faqtestarr = faq | split: '\n' -%}
		{%- for faqtest in faqtestarr -%}
		<p>{{ faqtest }}</p>
		{%- endfor -%}
		<p></p><p></p>
	{%- endfor -%}
{%- endfor -%}
