---
layout: leftnav-page-content
---

<h2>Training Courses and Seminars</h2>
<p>SAC has more than 20 years of experience in providing training to assist organisations in understanding and applying accreditation criteria to international standards.</p>
{%- assign training = site.data.training -%}
<div style="position:relative;margin-bottom:50%;">
	{%- for annual-courses in training -%}
	<div id="training-courses-holder-{{- annual-courses.year -}}" class="trainingCoursesHolder">
		<h3>TRAINING CALENDAR&nbsp;{{- annual-courses.year -}}</h3>
		<div style="padding:1rem;font-size:1rem;background-color:#ED2E38;color:#FFFFFF;">ENHANCING THE CAPABILITIES OF CONFORMITY ASSESSEMENT BODIES</div>
		<table class="trainingCoursesTable">
			<tr>
				<th><p class="trainingCoursesTableHeaderBar">Q1</p></th>
				<th><p class="trainingCoursesTableHeaderBar">Q2</p></th>
				<th><p class="trainingCoursesTableHeaderBar">Q3</p></th>
				<th><p class="trainingCoursesTableHeaderBar">Q4</p></th>
			</tr>
			<tr>
				{%- for annual-quarter-courses in annual-courses.annual-quarter -%}
				<td>
					<p class="trainingCoursesTableHeaderBar" style="display:none;">Q{{- forloop.index -}}</p>
				{%- for course in annual-quarter-courses.course-list -%}
					<a href="{{- course.link -}}" target="_blank">{{- course.title -}}<br/>{{- course.date -}}</a>
					<br/><br/>
				{%- endfor -%}
				</td>
				{%- endfor -%}
			</tr>		
		</table>
		<div>
			{%- if forloop.first == false -%}
			{%- capture nextYear -%}{{- annual-courses.year | plus:1 -}}{%- endcapture -%}
			<a class="trainingYearSelect" data-currYear="{{- annual-courses.year -}}" data-refYear="{{- nextYear -}}" style="left:0;">&lt;&nbsp;{{- nextYear -}}</a>
			{%- endif -%}
			{%- if forloop.last == false -%}
			{%- capture previousYear -%}{{- annual-courses.year | minus:1 -}}{%- endcapture -%}
			<a class="trainingYearSelect" data-currYear="{{- annual-courses.year -}}" data-refYear="{{- previousYear -}}" style="right:0;">{{- previousYear -}}&nbsp;&gt;</a>
			{%- endif -%}
		</div>
		<hr/>
	</div>
	{%- endfor -%}
</div>
<div id="training-additional-info" class="content">	
	{{- content -}}
</div>	

