---
layout: default
---

<h2>Training Courses and Seminars</h2>
<p>SAC has more than 20 years of experience in providing training to assist organisations in understanding and applying accreditation criteria to international standards.</p>
<hr/>

{% assign latestCourse = site.courses | last %}
{% assign latestCourseYear = latestCourse.date | date: '%Y' | plus:0 %}
{% assign minCourseYear = latestCourseYear | minus:5 %}
<p>{{- latestCourseYear -}}&nbsp;{{- minCourseYear -}}</p>
{% assign sortedCourses = site.courses | where_exp: "item", "item.date contains '2019'" %}
{%- for course in sortedCourses -%}
	<p>{{- course.title -}}&nbsp;{{- course.course_date -}}</p>
{%- endfor -%}



<div class="content">	
	{{- content -}}
</div>	

