---
layout: default
---

<h2>Training Courses and Seminars</h2>
<p>SAC has more than 20 years of experience in providing training to assist organisations in understanding and applying accreditation criteria to international standards.</p>
<hr/>

{% assign latestCourse = site.courses | last %}
{% assign latestCourseYear = latestCourse.date | date: '%Y' | plus:0 %}
{% assign minCourseYear = latestCourseYear | minus:5 %}
<p>{{- latestCourseYear -}}&nbsp;{{- minCourseYear -}}</p>
{% assign sortedCourses = site.courses | where: "title", "2019 Joint courses between HSA-SAC" %}
{%- for course in sortedCourses -%}
	<p>{{- course.course_date -}}<br/>{{- course.title -}}</p>
{%- endfor -%}
{% assign sortedCoursesOne = site.courses | where_exp: "item", "item.title == '2019 Joint courses between HSA-SAC'" %}
{%- for courseOne in sortedCoursesOne -%}
	<p>{{- courseOne.course_date -}}&nbsp;{{- courseOne.title -}}</p>
{%- endfor -%}



<div class="content">	
	{{- content -}}
</div>	

