---
layout: leftnav-page-content
---

<h2>Training Courses and Seminars</h2>
{%- assign training = site.data.training -%}
<div class="content">		
	{%- for annual-courses in training -%}
	<h3>Training Calendar {{- annual-courses.year -}}</h3>
	<table>
		<tr>
			<th>Q1</th>
			<th>Q2</th>
			<th>Q3</th>
			<th>Q4</th>
		</tr>
		<tr>
			{%- for annual-quarter-courses in annual-courses.annual-quarter -%}
			<td>
			{%- for course in annual-quarter-courses.course-list -%}
			{{- course.title -}}<br/>{{- course.date -}}<br/><br/>
			{%- endfor -%}
			</td>
			{%- endfor -%}
		</tr>		
	</table>
	{%- endfor -%}
	{{- content -}}
<div>
